@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Rock+Salt&display=swap');

*{
    max-width: 1024px;
}

:root{
    --primary-color: #3a99cf; 
    --secondary-color: #143e30;
    --accent1-color: #846c5b;
    --accent2-color: #e2e8dd;

    --heading-font: 'Rock Salt', serif;
    --paragraph-font: 'Inter', serif;

    --nav-background-color: #143e30;
    --nav-link-color: #e2e8dd;
    --nav-hover-link-color: #846c5b;
    --nav-hover-background-color: #143e30;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
}

p{
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding-left: 10px;
}



div h1{
    position: absolute;
    top: 5px;
    width: 100%;
    text-align: center;
    font-family: var(--heading-font);
    color: var(--accent2-color);
    background-color: var(--secondary-color);
    opacity: .7;
}

div article{
    position: absolute;
    top: 120px;
    margin: auto;
    height: auto;
    background-color: var(--accent2-color);
    opacity: .8;
    width: 80%;
    right: 10%;
}
div article img{
     /*img inside the article floats to right of p*/
    width: auto;
    height: 130px;
    float: right;
    padding: 10px;
}
main img {
    display: block;
    width: 100%;
    height: auto;
}

.hero {
    position: relative;
}
nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    opacity: .9;
    text-align: center;

    
}
nav a {
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

.navigation a:link,
.navigation a:visited {
    color: var(--nav-link-color);
}

.navigation a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--secondary-color);
    padding: 3px 3px;
    margin-top: 5px;
    color: var(--accent2-color)
}

header {
	margin: 1rem auto;
	display: grid;
	grid-template-columns: 30% 70%;
	border-bottom: 2px solid black;
	max-width: 1000px;
    background-color: var(--secondary-color);
    align-items: center;
}
header img{
    height: 75px;
    width: auto;
    margin-left: 40%;
}

section h2{
    text-align: center;
}
.history-description{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.navigation {
	display: flex;
	list-style: none;
}
.navigation li {
	flex: 1 1 100%;
}

.navigation a {
	display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
    align-self: center;
}

.sociallinks a{
    padding: 5px;
    margin: 3px;
}
.sociallinks a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--secondary-color)
}
.sociallinks {
    display: grid;
    grid-template-columns: 40px 40px 40px;
    padding-left: 15%;
    text-decoration: none;
}
.history-description img{
    border: 2px solid #143e30;
}
.history-description p{
    padding: 10px;
    height: fit-content;
    width: auto;
}
.adventure-awaits{
    display: grid;
    grid-template-columns: repeat(5, auto);
}
